/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**************/

.container {
  display: flex;
}

.logo {
  max-width: 450px;
  margin: 20px;
}

.picole {
  font-family: 'Gochi Hand', cursive;
  font-size: 14px;
  color: #222;
  margin: 0 20px 20px 20px;
}
.picole td {
  min-width: 20px;
  min-height: 20px;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px dashed #f0f0f0;
  cursor: pointer;
}
.picole td:last-child {
  border-right: 1px solid #222;
}
.picole td:first-child {
  padding: 3px;
  border: solid #222;
  border-width: 0 1px 0 0;
  cursor: default;
}
.picole td.dis {
  border: solid #222;
  border-width: 1px 1px 0 1px;
}
.picole tr:last-child td:not(.dis) {
  border-bottom: 1px solid #222;
}
.picole tr:last-child td:first-child {
  border-bottom: 0;
}
.picole thead {
  cursor: default;
}
.picole thead td {
  border: solid #222;
  border-width: 0 0 1px 0;
}
.picole thead td:first-child {
  border: 0;
}
.picole thead td:last-child {
  border-right: 0;
}

.legend {
  margin-top: 20px;
}
.legend .level {
  margin: 15px 0;
}
.legend .level img {
  max-height: 25px;
  display: inline;
  margin-left: 5px;
  vertical-align: bottom;
}
.legend .color {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.l0 .color {
  border: 1px solid #222;
}

.l0 .color, td[data-color="0"] {
  background-color: #fff;
}

.l1 .color, td[data-color="1"] {
  background-color: #f1c754;
}

.l2 .color, td[data-color="2"] {
  background-color: #f18434;
}

.l3 .color, td[data-color="3"] {
  background-color: #db4642;
}

.l4 .color, td[data-color="4"] {
  background-color: #b8643f;
}

.l5 .color, td[data-color="5"] {
  background-color: #222;
}

.gally {
  margin-top: 30px;
  max-width: 200px;
}
